*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.wrap-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    min-height: 70px;
    position: fixed;
    background-color: #fff;
}

.header-logo {
    width: 60vw;
}

.logo {
    width: 310px;
    margin: 0 34px;
}

.nav-bar__list {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar__item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.main {
    grid-column: 2 / 5;
    background-color: lightblue;
}

.form-section {
    margin-top: 75px;
}


.footer {
    background-color: lightcoral;
}
