*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 74px 1fr 100px;
    grid-template-areas: 
        "header header header"
        "main main main"
        ". footer ."
    ;
}

.flex {
    display: flex;
    flex-direction: column;
}

.wrap-header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    min-height: 70px;
    grid-area: header;
    background-color: #fff;
}

.header-logo {
    width: 60vw;
}

.logo {
    width: 310px;
    margin: 0 34px;
}

.nav-bar__list {
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

.nav-bar__item, .footer-bar__item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.main {
    width: 650px;
    margin: auto;
    grid-area: main;
   
    background-color: lightblue;
}

.form-section {
    margin: auto;
    background-color: bisque;
}

.form {
    flex-direction: column;
    text-align: center;
    width: 250px;
}


.footer {
    grid-area: footer;
    background-color: lightcoral;
}
